html {
	font-size: 16px;
}
body {


	font-weight: 400;
	min-width: 320px;
}
img {
	max-width: 100%;
	height: auto;
}
section {
	padding: 50px 0;
}

a:hover {
	color: #c3825f;
}

.navbar{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 50px !important;
	background-color: #003648!important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .nav-link {
	font-size: 15px;
	font-family: 'Source Sans Pro',sans-serif;
	padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
	border-left: 1px solid;
}


.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover, .navbar-nav .nav-link:hover {
	color: #c3825f;
}

.navbar-collapse{

	background-color: #003648!important;
}

.bg-body-tertiary {
	background-color: #003648!important;
}

.form-control {
	background-color: #ccc;
}

.form-control:focus {
	background-color: #ccc;
}

.lang li a{
    padding-right: 15px!important;
    padding-left: 15px!important;
	border-left: 0px solid!important;
}

.top-menu li a::after {
	content: '';
	display: block;
	widows: 100%;
	background-color: #c3825f;
	height: 1px;
	transition: all .4s;
	transform: scale(0);
	transform-origin: 0 0;
}

.top-menu li a:hover::after {
	transform: scale(1);
}


/*Footer*/

p.footer.contacts {
	margin-bottom: 0rem;
}