{% extends "web_app/base.html" %}
{% load static  %}

{% block navbar %}
    {% with about_is_active="active" %}
        {{ block.super }}
    {% endwith%}
{% endblock navbar%}

{% block content %}
<img src="{% static 'img/rolfing_logo_sitdikova.svg' %}">
<div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-8">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis, urna non convallis faucibus, mi mauris eleifend metus, at gravida enim magna in leo. Quisque porta mollis est, vel ultricies tellus malesuada non. Maecenas varius non leo et eleifend. Nullam varius tincidunt facilisis. Quisque consectetur, eros sit amet tincidunt blandit, urna enim interdum metus, ac gravida tellus lectus eu quam. Aliquam ut massa a mauris vehicula pretium ut vitae felis. Phasellus eleifend placerat lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ultrices ac ipsum vel suscipit. Quisque cursus congue ornare.</p>
          </div>
          <div class="col-md-4">
            <img src='{% static "img/0kghOUUExS8.jpg" %}'>
          </div>
        </div>

        <!-- <hr class="featurette-divider"> -->

        <div class="row featurette">
          <div class="col-md-12 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">
                Vivamus ac urna volutpat ex gravida tincidunt eu eget dolor. Aenean lacinia lectus enim, sed consectetur ipsum finibus at. Quisque elementum interdum tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sed consectetur erat. Suspendisse maximus semper purus commodo euismod. Vestibulum elit ante, ultricies id luctus vel, viverra ut metus. Etiam cursus id sem eu accumsan. Sed maximus tortor nec nunc convallis, sed imperdiet odio porttitor. Nulla facilisi.</p>
          </div>
          <div class="col-md-5 order-md-1">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">

              Pellentesque tortor dolor, vehicula a lacus sed, faucibus mollis diam. Vivamus sit amet sodales mi. Fusce tincidunt odio nunc, ut dignissim sapien pretium et. Sed finibus, arcu volutpat malesuada mollis, lacus ligula ornare quam, in hendrerit magna diam eget diam. Nulla facilisi. In hac habitasse platea dictumst. Quisque gravida venenatis diam, imperdiet ultrices dolor volutpat sed. Vivamus semper odio augue, vitae eleifend nulla lacinia eget. Quisque massa arcu, auctor posuere mauris nec, sollicitudin efficitur quam. Pellentesque lacus massa, malesuada in dui ac, semper accumsan mauris. Quisque lorem sapien, accumsan a pharetra eu, accumsan eu felis. Aenean luctus erat ipsum, interdum dignissim nisi cursus egestas. Aenean ullamcorper tristique nisi, nec sodales sem varius eget. </p>
          </div>
          <div class="col-md-5">
            <img src='{% static "img/2019_05_28_9828.JPG" %}'>
          </div>
        </div>
    </div>
{% endblock %}
