{% extends "web_app/base.html" %}
{% load static  %}
{% load date_period %}
{% load i18n %}

{% block navbar %}
    {% with overview_is_active="active" %}
        {{ block.super }}
    {% endwith%}
{% endblock navbar%}

{% block content %}
<img src="{% static 'img/rolfing_logo_sitdikova.svg' %}">
<div class="container marketing">
    <!-- START THE FEATURETTES -->


    <div class="container text-center m-6 border-bottom">
        <div class="row align-items-start">
            <div class="col">
            </div>
            <div class="col">
                <h2>
                    {% if user.is_superuser %}
                    <a href="{{ events.first.get_superuser_url }}" class="superuser-edit">
                        <div>
                            {% translate 'Event archive' %}
                            <span style="vertical-align: super">
                                <img src="{% static 'img/Edit_icon.svg' %}" width="16px">
                            </span>
                        </div>
                    </a>
                    {% else %}
                        {% translate 'Event archive' %}
                    {% endif %}
                </h2>
            </div>
            <div class="col text-end">
              <a href="{% url 'overview' %}">{% translate 'Latest' %}</a>
            </div>
        </div>
    </div>
<!--    <hr class="featurette-divider">-->
    <div class="row featurette">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><a href="{% url 'archive' %}/order_by_city" title="Order by city">{% translate 'City' %}</a></th>
                    <th scope="col">{% translate 'Event' %}</th>
                    <th scope="col">{% translate 'Teacher' %}</th>
                    <th scope="col"><a href="{% url 'archive' %}/order_by_date" title="Order by date">{% translate 'Dates' %}</a></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <th scope="row" >{{ forloop.counter }} </th>
                    <td colspan="1">{{ event.city.name }}</td>
                    <td>{% for topic in event.topic_modules.all %} {{ topic }} {% endfor %}</td>
                    <td>{% for teacher in event.teachers.all %} {{ teacher }} <br> {% endfor %}</td>
                    <td>{% date_period event %}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


    </div>
{% endblock %}